<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>


<div class="container mt-5">
    <h2 class="mb-4">Add new book</h2>

    <form action="/admin/book/" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input name="title" type="text" class="form-control" id="title">
        </div>

        <div class="mb-3">
            <p>Author</p>
            <select name="author" class="form-select">
                <% authors.forEach((author) => {  %> 
                    <option value="<%= author.id %>"><%= author.name %></option>
                <% }) %> 
            </select>
        </div>

        <div class="mb-3">
            <label for="pageCount" class="form-label">Number of Page</label>
            <input name="pageCount" type="number" class="form-control" id="pageCount">
        </div>

        <div class="mb-3">
            <label for="publishedAt" class="form-label">Date of Publication</label>
            <input name="publishedAt" type="date" class="form-control" id="publishedAt">
        </div>

        <div class="mb-3">
            <p>Publisher</p>
            <select name="publisher" class="form-select">
                <% publishers.forEach((publisher) => { %> 
                    <option value="<%= publisher.id %>"><%= publisher.name %></option>
                <%  }) %> 
            </select>
        </div>

        <div class="mb-3">
            <label for="summary" class="form-label">Summary</label>
            <input name="summary" type="text" class="form-control" id="summary">
          </div>

        <div class="mb-3">
            <label for="cover" class="form-label">Book Cover</label>
            <input name="cover" type="file" class="form-control" id="cover">
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
</div>


<%- include('../../partials/footer') %>