<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container mt-5">
    <a href="/admin/book/create" class="btn btn-primary mb-5">Add New Book</a>
    <div class="row">
        <% books.forEach((book) => { %> 
          <a href="/admin/book/<%= book.id %> ">
            <div class="card" style="width: 18rem;">
              <img src="<%= book.cover.split('lic')[1] %>" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title"><%= book.title %> </h5>
              </div>
            </div>
          </a>
          
        <% }) %> 
        
        
    </div>
</div>


<%- include('../../partials/footer') %> 

