<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>


<div class="container mt-5">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= author.name %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nationality: <%= author.nationality %> </li>
        </ul>
        <div class="container card-body d-flex justify-content-start">

          <div class="row">
            <div class="col">
              <a href="/admin/author/<%= author.id %>/edit" class="btn btn-dark">Edit</a>
            </div>

            <div class="col">
              <form method="POST" action="/admin/author/<%= author.id %>?_method=DELETE">
                <button class="btn btn-danger" type="submit">Remove</button>
              </form>
            </div>
          </div>

        </div>
      </div>
</div>


<%- include('../../partials/footer') %>