<%- include('../../partials/header') %> 
<%- include('../../partials/navbar') %>

<div class="container mt-5">
    <h2 class="mb-4">Edit author</h2>

    <%- include('../../partials/messages') %> 

    <form action="/admin/author/<%= author.id %>?_method=PUT" method="POST">
        <div class="mb-3 col-md-4">
          <label for="name" class="form-label">Name</label>
          <input name="name" type="text" class="form-control" id="name" value="<%= author.name %> " required>
        </div>

        <div class="mb-3 col-md-4">
          <label for="nationality" class="form-label">Nationality</label>
          <input name="nationality" type="text" class="form-control" id="nationality" value="<%= author.nationality %> " required> 
        </div>

        <div class="mb-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


<%- include('../../partials/footer') %>